<div class="container">
    <div class="row">
        <div class="col-10">
            <label class="bg-secondary h4 ml-5 px-2 mb-3">商品一覧</label>
        </div>
        
        <button type="button" class="btn btn-light rounded-circle p-0 shadow bg-white rounded" style="width:2rem;height:2rem;">
            <%= link_to "+", new_admin_item_path, class: "text-dark h4" %>
        </button>
    </div>
    
    <div class="row mx-3">
        <table class="table">
            <tr class="table-secondary">
                <th>商品ID</th>
                <th>商品名</th>
                <th>税抜価格</th>
            </tr>
            
            <% @items.each do |item| %>
            <tr>
                <td><%= item.id %></td>
                <td><%= link_to item.name, admin_item_path(item.id), class: "text-dark" %></td>
                <td><%= item.price.to_s(:delimited) %></td>
            </tr>
            <% end %>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <%= paginate @items%>
    </div>
</div>