<div class="container">
    <div>
        <h2>商品詳細</h2>
    </div>
    
    <div class="row">
        <div class="col">
            <%= image_tag @item.get_item_image(200, 200) %>
        </div>
        
        <div class="col">
            <div class="row">
                <div class="col">
                    <label>商品名</label>
                </div>
                <div class="col">
                    <%= @item.name %>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label>商品説明</label>
                </div>
                <div class="col">
                    <%= @item.introduction %>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label>
                        税込価格</br>
                        (税抜価格)
                    </label>
                </div>
                <div class="col">
                    <%= @item.add_tax_included_price.to_s(:delimited) %>
                    <span>(<%= @item.price %>)円</span>
                </div>
            </div>
            
            <div class="row">
                <%= link_to "編集する", edit_admin_item_path %>
            </div>
        </div>
    </div>
</div>