<div class="container">
  <label class="bg-secondary h4 ml-5 px-2">管理者ログイン</label>
  <div class="row d-flex justify-content-center my-5">
    <table>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <tr>
          <th class="col-4"><%= f.label :メールアドレス %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50x20", class: "m-3" %></td>
        </tr>
        
        <tr>
          <th class="col-4"><%= f.label :パスワード %></th>
          <td><%= f.password_field :password, autocomplete: "current-password", size: "50x20", class: "m-3" %></td>
        </tr>
        
        <tr>
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary px-5 mt-5" %></td>
        </tr>
      <% end %>
    </table>
    
    <%= render "admin/shared/links" %>
  </div>
</div>