<div class="container">
  <h2>ログイン</h2>

  <h3>会員の方はこちらからログイン</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-3">
        <label>メールアドレス</label>
      </div>
      <div class="form-group col">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-3">
        <label>パスワード</label>
      </div>
      <div class="form-group col">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
    
    <div class="row">
      <div class="offset-1 col">
        <%= f.submit "ログイン" %>
      </div>
    </div>
    
  <% end %>
  
  <%= render "public/shared/links" %>
</div>