<div class="container">
    <div class="row">
        <div class="col">
            <%= image_tag @item.get_item_image(200, 200) %>
        </div>
        
        <div class="col">
            <div class="row">
                <%= @item.name %>
            </div>
            
            <div class="row">
                <%= @item.introduction %>
            </div>
            
            <div class="row">
                ￥<%= @item.add_tax_included_price.to_s(:delimited) %><span>（税込）</span>
            </div>
            <%= form_with model: @cart_item, url: cart_items_path(@cart_item), method: :post do |f| %>
            <div class="row">
                <div class="col">
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.select :amount, *[1..10] %>
                </div>
                <div class="col">
                    <%= f.submit "カートに入れる" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>